<?xml version="1.0"?>
<!--
/**
 * 2012-2017 D1m Group
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0) that is available
 * through the world-wide-web at this URL: http://www.opensource.org/licenses/OSL-3.0
 * If you are unable to obtain it through the world-wide-web, please send an email
 * to sales@d1m.cn so we can send you a copy immediately.
 *
 * @author D1m Group
 * @copyright 2012-2017 D1m Group
 * @license http://www.opensource.org/licenses/OSL-3.0 Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="D1m" title="D1m" translate="title" module="D1m_Wesms" sortOrder="15" resource="D1m_Wesms::wesms_sms_log"/>
        <add id="D1m_Wesms::wesms" title="SMS" translate="title" module="D1m_Wesms" sortOrder="15" parent="D1m" resource="D1m_Wesms::wesms_sms_log"/>
        <add id="D1m_Wesms::wesms_sms_log" title="SMS Log" translate="title" module="D1m_Wesms" sortOrder="10" parent="D1m_Wesms::wesms" action="wesms/log" resource="D1m_Wesms::wesms_sms_log"/>
        <add id="D1m_Wesms::wesms_sms_template" title="SMS Template" translate="title" module="D1m_Wesms" sortOrder="20" parent="D1m_Wesms::wesms" action="wesms/template" resource="D1m_Wesms::wesms_sms_template"/>
    </menu>
</config>
